In [1]:
# pip install tiingo

In [2]:
import pandas as pd
import numpy as np
import os as os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import tiingo
from tiingo import TiingoClient
from pathlib import Path
from datetime import date
import json
import os
#from iexfinance.stocks import get_historical_data
#from iexfinance.refdata import get_symbols

In [4]:
#this is an output download from
sp500_csv = pd.read_csv('Resources/sp500_close.csv')
sp500_csv.head()

,date,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,...,WLTW,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBH,ZION,ZTS
0,2019-03-01 00:00:00+00:00,207.49,78.59,80.10,348.06,164.20,42.84,264.01,23.68,160.62,...,172.56,125.12,54.92,31.29,126.64,76.37,95.37,125.41,51.17,95.75
1,2019-03-04 00:00:00+00:00,206.86,78.62,79.46,338.20,162.82,41.79,258.16,23.37,158.40,...,173.05,125.57,55.08,31.36,122.81,76.25,95.14,124.43,50.86,95.87
2,2019-03-05 00:00:00+00:00,203.84,78.22,78.91,333.21,163.67,41.88,257.38,23.50,157.31,...,182.04,124.14,54.90,31.09,122.95,76.19,95.93,124.11,50.79,95.78
3,2019-03-06 00:00:00+00:00,202.80,77.70,78.09,317.85,162.39,42.56,256.40,22.41,157.97,...,170.88,123.55,55.09,30.85,121.36,75.85,96.60,123.24,49.67,94.17
4,2019-03-07 00:00:00+00:00,199.86,76.80,78.24,317.42,161.85,41.42,255.46,22.08,154.13,...,170.20,118.67,55.52,30.24,119.91,75.32,96.54,121.39,48.71,92.55

In [5]:
sp500=sp500_csv.columns.to_list()
sp500_tickers=sp500[1:]
# sp500_tickers

In [6]:
# Set the file path
tiingo = os.getenv('TIINGO_API_KEY')

In [7]:
client = TiingoClient()

## Get data
The first thing we need to do in order to build our trade is to get the data. One method is to go to Quandl and pay for an API, but in true "hack3r" form, why pay for data when you can take a few steps to extract it for free? 

Therefore, let's go get our investing universe, the S&P 500 and go about the process of building a data frame.

In [8]:
end_date = datetime.now()
start_date = end_date + timedelta(-365*5)

In [9]:
sp500_df = client.get_dataframe(sp500,
                                metric_name='close',
                                startDate=start_date,
                                endDate=end_date,
                                frequency='daily'
                               )

C:\Users\selva\Anaconda3\envs\vizenv\lib\site-packages\tiingo\api.py:270: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  prices = pd.concat([prices, df[stock]], axis=1)

In [10]:
sp500_df.describe()

,date,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,...,WLTW,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBH,ZION,ZTS
count,282.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,...,1070.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000
mean,6.809234,183.728437,57.927984,75.887595,188.343758,141.304603,49.903540,180.843298,15.740944,146.580190,...,153.168794,117.649575,47.035036,21.112452,70.335274,59.578266,84.844325,118.165222,40.704202,74.573944
std,0.664318,26.480533,16.130852,15.510179,103.142593,33.042583,14.907374,85.310384,12.789467,25.022909,...,26.272477,32.253614,9.257939,10.748864,23.484758,16.551464,13.482073,13.278963,10.094830,28.420879
min,5.100000,117.870000,36.340000,48.270000,59.660000,92.140000,22.670000,73.150000,1.620000,75.030000,...,107.130000,43.020000,31.920000,6.880000,38.780000,30.460000,56.520000,80.630000,19.900000,39.330000
25%,6.340000,163.822500,43.807500,63.207500,104.982500,114.625000,38.387500,97.772500,5.115000,136.220000,...,127.982500,96.500000,40.697500,9.930000,48.872500,46.197500,75.317500,109.710000,30.017500,49.345000
50%,6.930000,178.340000,53.715000,71.255000,154.245000,136.685000,47.825000,154.105000,12.320000,153.255000,...,151.525000,114.380000,45.535000,25.410000,66.845000,63.330000,83.100000,117.315000,43.605000,64.260000
75%,7.380000,204.400000,71.550000,88.917500,265.135000,164.132500,61.637500,258.440000,23.762500,163.420000,...,170.675000,137.190000,51.402500,30.520000,85.077500,75.372500,91.395000,125.320000,48.807500,91.815000
max,9.280000,258.630000,91.860000,123.210000,449.750000,215.920000,83.390000,383.280000,58.900000,200.380000,...,220.060000,201.510000,71.160000,39.300000,139.720000,89.130000,119.210000,160.400000,58.540000,144.940000

In [11]:
path='../Resources/'

In [13]:
sp500_df.to_csv('Resources/MSR_sp500_5yr_close.csv')